<head>
    <meta charset="utf-8">
    <!-- Google Tag Manager -->
    <!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NHN3F8B');</script>-->
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.titleSuffix }} - {{ page.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ page.description }}{% endif %}">
    <link rel="icon" type="image/png" href="{{ page.baseurl }}/favicon.png">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: page.baseurl | prepend: page.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ page.title }}" href="/feed.xml" />
    <!--<link rel="stylesheet" href="{{ page.baseurl }}/css/page.css">-->
    <link rel="stylesheet" href="{{ page._rel }}dist/docfx.css">
    {% if  page.image %}
    <meta property="og:image" content="{{ page.image }}" />
    {% else %}
    <meta property="og:image" content="/images/og/ogp.jpg">
    {% endif %}
</head>
