<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-xxl">
    <a class="navbar-brand" href="/">
      <img height="37" width="124" src="/images/svg/logo.svg" alt="Stride logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav navbar-nav--text me-auto mb-2 mb-lg-0 ms-sm-2">
        {% assign menu_current = page.url | remove: '/' %}
        {% assign menu_blog = menu_current | slice: 0,4 %}
        <li class="nav-item">
          <a class="nav-link{% if menu_current=='features' %} active text-primary{% endif %}" aria-current="page" href="/features/">Features {{ page._path }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if menu_current=='blog' or menu_blog=='blog' %} active text-primary{% endif %}" href="/blog/">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Learn</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/getting-started/">Getting Started</a>
            </li>
            <li>
              <a class="dropdown-item" href="/tutorials/">Tutorials</a>
            </li>
            <li>
              <a class="dropdown-item" href="/test/">Test</a>
            </li>
            <li>
              <a class="dropdown-item" href="/tutorials/csharpbeginner/">C# Beginner</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ page.docs-manual-url }}">Manual (EN)</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ page.docs-manual-jp-url }}">Manual (JP)</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ page.docs-api-url }}">API</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ page.docs-release-notes-url }}">Release Notes</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ page.docs-tutorial-url }}">Tutorials</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if menu_current=='community' %} active text-primary{% endif %}" href="/community/">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if menu_current=='download' %} active text-primary{% endif %}" href="/download/">
            Download
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if menu_current=='sponsor' %} active text-primary{% endif %}" href="/sponsor/">
            <i class="fa-solid fa-heart text-decoration-none"></i> Sponsor
          </a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto navbar-icons">
        <li class="nav-item col-12 col-lg-auto dropdown">
          <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false" onclick="document.getElementById('search-input').focus()">
            <i class="fa-solid fa-magnifying-glass text-decoration-none"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end p-3" style="width: 280px;">
            {% assign id = "search-input" %}
            {%- include search-form.html -%}
          </div>
        </li>
        <li class="nav-item col-6 col-lg-auto">
          <a class="nav-link py-2 px-0 px-lg-2" href="{{ page.github-url }}" target="_blank" rel="noopener">
            <i class="fa-brands fa-github text-decoration-none"></i>
            <small class="d-lg-none">GitHub</small>
          </a>
        </li>
        <li class="nav-item col-6 col-lg-auto">
          <a class="nav-link py-2 px-0 px-lg-2" href="{{ page.twitter-url }}" target="_blank" rel="noopener">
            <i class="fa-brands fa-twitter text-decoration-none"></i>
            <small class="d-lg-none">Twitter</small>
          </a>
        </li>
        <li class="nav-item col-6 col-lg-auto">
          <a class="nav-link py-2 px-0 px-lg-2" href="{{ page.discord-url }}" target="_blank" rel="noopener">
            <i class="fa-brands fa-discord text-decoration-none"></i>
            <small class="d-lg-none">Discord</small>
          </a>
        </li>
        <li class="nav-item col-6 col-lg-auto">
          <a class="nav-link px-0 px-lg-2" href="{{ page.open-collective-url }}" target="_blank" rel="noopener">
            {% assign type = 'open-collective' %}
            {% assign size = 20 %}
            {%- include svg-icons.html -%}
            <small class="d-lg-none">Open Collective</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
